<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
</head>
<body>
    <h1>Produtos</h1>
    <table border = '1'>
        <tr>
            <th>Nome</th>
            <th>Categoria</th>
            <th>Preço </th>
            <th> Estoque </th>
            <th>Imagem</th>
        <tr>
        {% for prod in produtos %}
        <tr>
            <td>{{ prod.nome }} </td>
            <td>{{prod.categoria}} </td>
            <td>R$ {{prod.preco}} </td>
            <td> {{prod.estoque}} </td>
            <td> <img src="{{ prod.imagem.url }}"width="80"></td>
            <td> {% if prod.lancamento == True %}
                    lançamento!!
                {% endif %}
            </td>
        </tr>
            {% endfor %}
    </table>
</body>
</html>                            
