<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Detalhes dos Produtos</title>
</head>
<body>
<h1> Nome do Produto</h1>
<h5> Departamento >>> Categoria</h5>
<img src='{{ prod.imagem.url }}'width='80'>
<h2>LANÇAMENTO!!!!!!</h2>
<P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, ab! Aliquam sunt dicta similique, nulla ducimus cum labore dignissimos fugiat fugit debitis atque delectus porro, neque optio rem, rerum non?</P> <br>
<h3>Preço: <R1>10.00</R1></h3>
<h3>Estoque: 10 </h3>
